.idiorhythmo-page {
    display: flex !important;
    flex-direction: column;
    max-height: calc(100%-72px);
    height: calc(100%-72px);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3em;
    color: var(--primary) !important;
    background-color: var(--bg);
    overflow-y: hidden;
}

.idiorhythmo-page h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: .8em;
    height: fit-content;
}

.idiorhythmo-page .section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
    padding: 3em 5% 1em 5%;
}

.idiorhythmo-page .general-section {
    margin-bottom: 0.5em;
    padding: 3em 5% 1em 5%;
}

.idiorhythmo-page .section-title {
    font-weight: 700;
    font-size: 20px
}

.idiorhythmo-page .carousel-container {
    width: 34%;
    margin: 0 auto;
}

.idiorhythmo-page .section-info {
    width: 60%;
    margin: 0 auto;
    cursor: default;
}

.idiorhythmo-page iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.idiorhythmo-page .section-contributors {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: center;
}

.idiorhythmo-page .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: row;
}

.idiorhythmo-page .owl-next {
    margin: 0 1em 0 auto;
}

.idiorhythmo-page .owl-prev {
    margin: 0 auto 0 1em;
}

.idiorhythmo-page .owl-prev span::after,
.idiorhythmo-page .owl-next span::after {
    background-color: var(--primary);
    opacity: 0.4;
}

.idiorhythmo-page .owl-prev span::before,
.idiorhythmo-page .owl-next span::before {
    color: var(--bg);
}

.idiorhythmo-page .owl-prev:hover span::after,
.idiorhythmo-page .owl-next:hover span::after {
    opacity: 1;
}

@media (min-width: 1025px) {
    .idiorhythmo-page .section-container:nth-child(even) .carousel-container {
        order: 2;
    }

    .idiorhythmo-page .section-container:nth-child(even) .section-info {
        text-align: right;
    }
}



@media (max-width: 1024px) {
    .idiorhythmo-page {
        padding-top: 1em !important;
    }

    .idiorhythmo-page .section-title {
        word-break: break-all;
        text-align: left;
        height: auto;
    }

    .idiorhythmo-page .general-section {
        padding-top: 0;
    }

    .idiorhythmo-page .section-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0;
    }

    .idiorhythmo-page .carousel-container {
        width: 100%;
    }

    .idiorhythmo-page .section-info {
        width: 100%;
        margin: 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .owl-carousel {
        padding: 0 !important;
    }
}